

html,
body,
header {
  font-family: 'Roboto Slab', serif;
  scroll-behavior: smooth;
  
  background-color: rgb(229, 245, 255);

}

* {
    box-sizing: border-box;
    transition: 0.4s ease all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}


/**********************************************************************************************Navbar***/
.navbar-dark .navbar-brand {
    color: rgb(119, 119, 119);
}
.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: rgb(112, 112, 112);
    transition: .35s;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}



/**********************************************************************************************End Navbar***/




/********************************************************************************************** Header***/














/********************************************************************************************** End Header***/

/********************************************************************************************** About***/
.about{
  padding-top: 190px;
  padding-bottom: 90px;
  background-color: rgb(229, 245, 255);
}

.align-center {
  text-align: center;
}

.about-img{
  width: 100%;
  height: auto;
}
/********************************************************************************************** End About***/

/********************************************************************************************** Photo Galery***/



/********************************************************************************************** ENd Photo Galery***/

/********************************************************************************************** footer***/

#site-footer {
	padding: 25px 0;
	font-size: 85%;
	background-color: rgba(168, 221, 255, 0.856);
	position: fixed;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
}
/********************************************************************************************** end footer***/
