html,
body,
header {
    font-family: 'Roboto Slab', serif;
    scroll-behavior: smooth;
    background-color: rgb(216, 240, 255);

}

* {
    box-sizing: border-box;
    transition: 0.4s ease all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}


/**********************************************************************************************Navbar***/
.navbar {
    background: linear-gradient(40deg, rgba(175, 226, 255, 0.835), rgba(100, 180, 255, 0.774));
}

.navbar:not(.top-nav-collapse) {
    background: transparent;
}

.navbar-dark .navbar-brand {
    color: rgb(119, 119, 119);
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: rgb(112, 112, 112);
    transition: .35s;
}


.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2.25rem;
    line-height: inherit;
    white-space: nowrap;
}

/**********************************************************************************************End Navbar***/


/********************************************************************************************** Header***/

.logo {
    size: 300px;
}


/********************************************************************************************** End Header***/

/********************************************************************************************** About***/
.about {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: rgb(216, 240, 255);
}

.align-center {
    text-align: center;
}

.gradient {
    position: relative;
    display: inline-block;
}



.heading {
    margin: 0 6rem;
    font-size: 3.8rem;
    font-weight: 700;
    color: rgb(0, 68, 95);
}

.subheading {
    margin: 2.5rem 6rem;
    color: #bcb2c0;
}

.btn.btn-margin {
    margin-left: 6rem;
    margin-top: 3rem;
}

.btn.btn-lily {
    background: linear-gradient(40deg, rgba(180, 180, 180, 0.3), rgba(100, 211, 255, 0.089));
    color: rgb(0, 0, 0);
}

.title {
    margin-top: 6rem;
    margin-bottom: 2rem;
    color: #5d4267;
}

.subtitle {
    color: #bcb2c0;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 6rem;
}


/********************************************************************************************** End About***/




/********************************************************************************************** Photo Galery***/
.contact {
    background-image: url(./static/img/contact.jpg);
    background-size: cover;
    background-position: center center;
}






/********************************************************************************************** ENd Photo Galery***/

/********************************************************************************************** footer***/

#site-footer {
    padding: 25px 0;
    font-size: 85%;
    background-color: rgb(205, 230, 255);
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
}

/********************************************************************************************** end footer***/