html,
body,
header {
    font-family: 'Roboto Slab', serif;
    scroll-behavior: smooth;

    background-color: rgb(229, 245, 255);

}

.view {
    height: 850px;
}

* {
    box-sizing: border-box;
    transition: 0.4s ease all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}


/**********************************************************************************************Navbar***/
.navbar {
    background: linear-gradient(40deg, rgba(175, 226, 255, 0.835), rgba(100, 180, 255, 0.774));
}

.navbar:not(.top-nav-collapse) {
    background: transparent;
}

.navbar-dark .navbar-brand {
    color: rgb(119, 119, 119);
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: rgb(112, 112, 112);
    transition: .35s;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2.25rem;
    line-height: inherit;
    white-space: nowrap;
}



/**********************************************************************************************End Navbar***/




/********************************************************************************************** Header***/

.logo {
    size: 300px;
}











/********************************************************************************************** End Header***/

/********************************************************************************************** About***/
.about {
    padding-top: 190px;
    padding-bottom: 90px;
    background-color: rgb(229, 245, 255);
}

.align-center {
    text-align: center;
}

.gradient {
    position: relative;
    display: inline-block;
}

.gradient:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: -moz-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(220, 66, 37, 0.5)), color-stop(100%, rgba(0, 47, 75, 0.5)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002f4b', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}




/********************************************************************************************** End About***/




/********************************************************************************************** Parallax***/


/********************************************************************************************** end Parallax***/


/********************************************************************************************** Photo Galery***/
.wrapper h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
}

.img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.single-img {
    padding: 0 20px 20px;

}


/********************************************************************************************** ENd Photo Galery***/

/********************************************************************************************** footer***/

#site-footer {
    padding: 25px 0;
    font-size: 85%;
    background-color: rgb(205, 230, 255);
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
}

/********************************************************************************************** end footer***/